{% include header.html %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% if page.header_image %}
<header class="intro-header" style="background-image: url('{{page.header_image}}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading">
					<h1>{{ page.title }}</h1>
					<hr class="small">
					<span class="subheading">{{ page.subtitle }}</span>
				</div>
			</div>
		</div>
	</div>
</header>
{% else %}
{% include home_header.html %}
{% endif %}

<div class="container">
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

<div class="blog-body">
	<!-- Full title at h2
		 date, author
		 Snippet
		 Read more link
		 Comment counter
	-->
	{{ content }}

	{% for post in site.posts %}
	<div class="blog-intro">
			<a class="blog-post-link" href="{{ post.url }}">
				<h2>{{ post.title }}</h2>
			</a>
			{% if post.date %}
			<div class="meta date">
					{{ post.date | date: '%B %d, %Y' }}  by {{post.author}}
			</div>
			{% else %}
			<div class="meta date">
					by {{post.author}}
			</div>
			{% endif %}
			<div class="block-paragraph">
				{{post.excerpt}}
			</div>
			<br>
			<a href="{{ post.url }}">More &raquo;</a> <br>
			<a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.disqus_uid}}">No comments</a>
		</div>
		<hr>
	{% endfor %}
</div>
</div>
</div>
</div>

{% include footer.html %}